{%- set poolmount = salt['omv_conf.get']('conf.system.filesystem.mountpoint', pool.mntentref) %}
{%- set mountdir = salt['pillar.get']('default:OMV_MOUNT_DIR', '/srv') %}
{%- set shortdir = mountdir ~ '/mfs' %}
{%- set mntDir = poolmount.dir %}
{%- set fsname = pool.name ~ ':' ~ pool.uuid %}
{%- set options = [] %}
{%- set _ = options.append('category.create=' ~ pool.createpolicy) %}
{%- set _ = options.append('minfreespace=' ~ pool.minfreespace | string ~ pool.minfreespaceunit) %}
{%- set _ = options.append('fsname=' ~ fsname) %}
{%- for option in pool.options.split(',') %}
{%- if not 'category.create=' in option %}
{%- set _ = options.append(option) %}
{%- endif %}
{%- endfor %}
{%- set branches = [] %}
{%- set reqMnts = [] %}
{%- set branchDirs = pool.paths.split(':') %}
{%- for dir in branchDirs %}
{%- if dir | length > 2 %}
{%- set parent = salt['cmd.shell']('omv-findmnt "' ~ dir ~ '" | sort -u') %}
{%- set _ = branches.append(dir) %}
{%- if parent | length > 1 %}
{%- set _ = reqMnts.append(parent) %}
{%- endif %}
{%- endif %}
{%- endfor -%}
{%- set optline = 'branches=' ~ branches | join(':') ~ ',' ~ options | join(',') %}
[Unit]
Description = MergerFS mount for {{ pool.name }}
After=network-fs.target zfs-mount.target
RequiresMountsFor={{ reqMnts | join(' ') }}

[Mount]
What = {{ fsname }}
Where = {{ mntDir }}
Type = fuse.mergerfs
Options = {{ optline }}

[Install]
WantedBy=multi-user.target
